<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ThreatModeling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="CommunityUrl" value="http://social.msdn.microsoft.com/Forums/en-US/sdlprocess/threads" />
    <add key="SdlUrl" value="http://www.microsoft.com/security/sdl/" />
    <add key="TwCBlog" value="http://blogs.technet.com/b/trustworthycomputing/"/>
    <add key="MsdnForums" value="http://social.msdn.microsoft.com/Forums/en-US/home?forum=sdlprocess"/>
    <add key="CheckVersion" value="true"/>
    <add key="DefaultThreatTableCopyFormat" value="ID=$(ID);Threat=$(Threat);Category=$(Category);Diagram=$(Diagram);Interaction=$(Interaction);Priority=$(Priority);State=$(State);Changed By=$(Changed By);Description=$(Description);Justification=$(Justification)"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <userSettings>
    <ThreatModeling.Properties.Settings>
      <setting name="MainWindowPlacement" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowProfileAnalyze" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowProfileDesign" serializeAs="String">
        <value />
      </setting>
      <setting name="ThreatColumnConfig" serializeAs="String">
        <value />
      </setting>
      <setting name="ConversionSelectionConfig" serializeAs="String">
        <value />
      </setting>
    </ThreatModeling.Properties.Settings>
  </userSettings>
</configuration>